.lead__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: .97;
  text-align: center;
  color: #FFF;
  max-width: 780px;
}
  
@media screen and (max-width: 440px) {
  .lead__title {
    max-width: 390px;
    font-size: 40px;
    line-height: 44px;
  }
}