@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__website/place__website.css);
@import url(./__description/place__description.css);

.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "title website"
    "image text";
}

@media screen and (min-width: 1280px) {
  .place {
    max-width: 984px;
    margin-bottom: 80px;
    grid-gap: 48px 20px;
  }

  .place:last-of-type {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    max-width: 928px;
    margin-bottom: 80px;
    grid-gap: 48px 20px;
  }

  .place:last-of-type {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    max-width: 720px;
    margin-bottom: 72px;
    grid-gap: 48px 28px;
  }

  .place:last-of-type {
    margin-bottom: 89px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    max-width: 320px;
    margin-bottom: 48px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .place:last-of-type {
    margin-bottom: 64px;
  }
}